<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.hello">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:fullBackupContent="false"
        android:icon="@mipmap/ic_myimage1"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_myimage1"
        android:supportsRtl="true"
        android:theme="@style/Theme.Hello"
        android:usesCleartextTraffic="true"
        tools:targetApi="m">
        <activity
            android:name=".DetailActivity"
            android:theme="@style/Theme.AppCompat.Dialog"
            android:label="" >
        </activity>
        <activity android:name=".viewActivity" android:label="查看" />
        <activity android:name=".reciteActivity" android:label="背单词" />
        <activity
            android:name=".addActivity"
            android:label="添加" >
<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.MAIN" />-->

<!--                <category android:name="android.intent.category.LAUNCHER" />-->
<!--            </intent-filter>-->
        </activity>
        <activity android:name=".MainActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>